@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="hero-section d-flex justify-content-center align-items-center text-center text-white">
     <div class="overlay"></div>   
<div class="content">
    <h1 class="display-1 fw-bold ">By Athletes <br/>For Athletes</h1>
    <p class="lead">Welcome to FitZone. We're more than gym. We're a community</p>
    <a href="#" class="btn btn-warning btn-lg mt-3">Sign Up</a>
</div>
    </div>
    
</body>
