@model List<MembershipPlan.Models.UserMembership>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Membership</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>Username</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Selected Plan</th>
        </thead>
        <tbody>
            @foreach (var usermembership in Model){
                <tr>
                    <td>@usermembership.UserName</td>
                    <td>@usermembership.Email</td>
                    <td>@usermembership.PhoneNumber</td>
                    <td>@usermembership.SelecteddPlan</td>
                </tr>
                <td>
                    <a href="/fitzone/detais/@usermembership.Id">Details</a>
                    <a href="/fitzone/edit/@usermembership.Id">Edit</a>
                    <a href="/fitzone/delete/@usermembership.Id onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>

                </td>
            }
        </tbody>
    </table>
</div>
